@CHARSET "ISO-8859-1";
body {
	margin: 0;
	padding: 0;
	background: url('img/background.jpg') no-repeat fixed center;
}
form.login, form.register {
	width: 230px;
	font-size: 19px;
}

form.register {
	margin-top: 10px;
}

fildset {
	margin: auto;
}

input {
	margin-bottom: 10px;
}

.container {
	width: 230px;
	margin: auto;
	margin-top: 10%;
}